.container{
  min-height: 90vh;
  display: flex;
  padding: 4em;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
}
img{
  width: 500px;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.product-title {
  font-weight: bold;
  margin: 0;
}
.product-description {
  margin: 0;
}
.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: 1px solid var(--mdc-text-button-label-text-color);
  }
}
