<div class="main-container">
  <div class="fixed">
    <app-navbar></app-navbar>
  </div>
  <div class="main-content">
    <div class="pages-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<div [style]="{'display':!(showLoading$|async)?'none':''}" class="loading">
  <mat-spinner></mat-spinner>
</div>
