.main-container {
  width: 100%;
  padding-top: var(--mat-toolbar-standard-height);
}

.pages-content {
  padding-inline: 2em;
  min-height: 90vh;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
}
@media only screen and (max-width: 599px) {
  .main-container {
    padding-top: var(--mat-toolbar-mobile-height);
  }
}
.loading{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.445);
}
