<div class="cover">
  <h1>This is the Products Page.</h1>
  <p>Browse our products</p>
</div>
<div class="products">
  <app-product-card *ngFor="let product of (products$ | async)" [product]="product"></app-product-card>
</div>
