.cover{
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
}
