<div class="container">
  <img class="product-img" [src]="product.image" [alt]="product.title" />
  <div class="details">
    <p class="product-title">{{ product.title }}</p>
    <div>
      <span [ngStyle]="{ color: '#3338' }">
        {{ "disription" | uppercase }}
      </span>
      <P class="product-description">{{ product.description }}</P>
    </div>
    <div class="product-rating">
      <div>
        <span [ngStyle]="{ color: '#3338' }"> {{ "rating" | uppercase }} </span
        >: {{ product.rating.count }}
      </div>
      <div class="rate">
        <mat-icon [ngStyle]="{ color: 'green' }">star</mat-icon>: {{ product.rating.rate }}/5
      </div>
    </div>
    <div class="buttons">
      <button *ngIf="(isProductInCart$|async) else add" mat-button color="warn" (click)="removeFromCart()">
        <mat-icon>remove</mat-icon>Remove form cart
      </button>
      <ng-template #add>
        <button mat-button color="accent" (click)="addItemToCart()">
          <mat-icon>add</mat-icon>Add to cart
        </button>
      </ng-template>
      <a mat-button color="primary" [routerLink]="''+product.id">More details...</a>
    </div>
  </div>
</div>
