.container {
  background-color: #fefefe;
  width: clamp(200px, 45vw, 500px);
  box-shadow: 0 0 16px 0 #ddf;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  gap: 1em;
  font-size: 0.8em;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.product-img {
  width: 30%;
  object-fit: contain;
  border: 8px;
  aspect-ratio: 1/1;
  align-self: center;
}
.product-title {
  font-weight: bold;
  margin: 0;
}
.product-description {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    border: 1px solid var(--mdc-text-button-label-text-color);
  }
}
