.container{
  width: 100%;
  padding: 1em;
  background: #273271;
  color: white;
}
.divider{
  width: 100%;
  border-bottom: 1px solid #fff5;
  margin-bottom: 1em;
}
.links {
  display: flex;
  gap: 0.75em;
  a {
    img {
      opacity: 0.7;
    }
  }
}
.icon {
  width: 1.5em;
  aspect-ratio: 1/1;
}
@media only screen and (max-width: 600px) {
  .links {
    margin: 0.5em auto;
  }
}
