<div class="container">
  <p>This page is a sample to solve Dawmt quiz</p>
  <div class="divider"></div>
  <div class="links">
    <a href="mailto:mhd.adnan.askar@gmail.com" aria-label="email"
      ><img
        loading="lazy"
        class="icon"
        src="../../../assets/icons/gmail-icon.svg"
        alt="gmail-icon"
    /></a>
    <a
      href="https://www.linkedin.com/in/mhd-adnan-askar"
      target="_blank"
      aria-label="linkedin"
      ><img
        loading="lazy"
        class="icon"
        src="../../../assets/icons/linkidin-icon.svg"
        alt="linkidin-icon"
    /></a>
    <a
      href="https://www.facebook.com/mhd.adnan.askar/"
      target="_blank"
      aria-label="facebook"
      ><img
        loading="lazy"
        class="icon"
        src="../../../assets/icons/fb-icon.svg"
        alt="fb-icon"
    /></a>
    <a href="https://wa.me/963930647438" target="_blank" aria-label="whatsapp"
      ><img
        loading="lazy"
        class="icon"
        src="../../../assets/icons/whatsapp-icon.svg"
        alt="whatsapp-icon"
    /></a>
  </div>
</div>
