<mat-toolbar color="primary" class="navbar">
  <div class="logo"><mat-icon>shop</mat-icon> <span>Dawmt Quiz</span></div>
  <div class="navigation-buttons">
    <a
      mat-button
      routerLinkActive="router-link-active"
      [routerLinkActiveOptions]="{ exact: true }"
      routerLink=""
      >Home</a
    >
    <a mat-button routerLinkActive="router-link-active" routerLink="products"
      >Products</a
    >
  </div>


  <div class="search">
    <mat-form-field appearance="fill" subscriptSizing="dynamic" color="primary">
      <mat-label>Find your product</mat-label>
      <input matInput [formControl]="searchFormControl" />
      <mat-icon color="primary" matSuffix>search</mat-icon>
    </mat-form-field>
    <div
      class="search-menu"
      [ngStyle]="{ display: (filteredProducts$ | async) && searchFormControl.value ? 'inherit' : 'none' }"
    >
      <mat-nav-list role="list" class="w100">
        <span class="no-resaults" mat-list-item *ngIf="!(filteredProducts$ | async)?.length"
          >no items found...</span
        >
        <a
          (click)="clearSearch()"
          [routerLink]="'/products/' + product.id"
          mat-list-item
          *ngFor="let product of filteredProducts$ | async"
        >
          <div class="res-prod">
            <img
              [src]="product.image || 'assets/images/fallback.png'"
              class="res-img"
            />
            <span class="res-name">
              {{ product.title }}
            </span>
            <span class="res-price">
              {{ product.price}}
            </span>
          </div>
        </a>
      </mat-nav-list>
    </div>
  </div>


  <div class="action-buttons">
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>shopping_cart</mat-icon>
      <div *ngIf="cartItemsQuantity$ | async as quantity" class="badge">
        {{ quantity }}
      </div>
    </button>
    <button mat-icon-button>
      <mat-icon>person</mat-icon>
    </button>
  </div>
</mat-toolbar>
