.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}
.router-link-active{
  border-bottom: 2px white solid;
}
a{
  border-radius: 0;
}
.badge{
  width: 20px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  font-size: 10px;
}
.search{
  position: relative;
}

.search-menu {
  width: 60vw;
  background: #ffffff8c;
  backdrop-filter: blur(5px);
  border-radius: 4px;
  box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 20%);
  position: absolute;
  top: 60px;
  left: 0;
  transform: translateX(-50%);
  z-index: 2;
  max-height: 50vh;
  overflow: auto;
}

.no-resaults {
  font-size: 1.2em;
  font-weight: 600;
  padding-inline: 2em;
  color: #464646;
}
.res-prod {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.res-name {
  font-weight: bold;
}
.res-price {
  font-size: .8em;
  flex-grow: 1;
  text-align: end;
}
.res-img {
  width: 40px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 4px;
}
.w100{
  width: 100%;
}
